@model HotelReservationApp.Data.Models.Reservation

<div class="container mt-4">
    <h2 class="text-center">Dodaj rezerwacje</h2>
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="ReservationId" />
        <div class="mb-3">
            <label for="CustomerId" class="form-label">Klient</label>
            <select asp-for="CustomerId" class="form-select" asp-items="ViewBag.Customers"></select>
            <span asp-validation-for="CustomerId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="EmployeeId" class="form-label">Pracownik</label>
            <select asp-for="EmployeeId" class="form-select" asp-items="ViewBag.Employees"></select>
            <span asp-validation-for="EmployeeId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="RoomId" class="form-label">Pokój</label>
            <select asp-for="RoomId" class="form-select" asp-items="ViewBag.Rooms"></select>
            <span asp-validation-for="RoomId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="CheckInDate" class="form-label">Check-In</label>
            <input type="date" asp-for="CheckInDate" class="form-control" />
            <span asp-validation-for="CheckInDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="CheckOutDate" class="form-label">Check-Out</label>
            <input type="date" asp-for="CheckOutDate" class="form-control" />
            <span asp-validation-for="CheckOutDate" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Dodaj rezerwacje</button>
    </form>
</div>