@model IEnumerable<HotelReservationApp.Data.Models.Employee>

<div class="container mt-4">
    <div class="form-control text-center bg-info" style="font-size: 36px;">Lista pracowników</div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Identyfikator</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Zajmowane stanowisko</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.EmployeeId</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>@employee.Position</td>
                </tr>
            }
        </tbody>
    </table>
</div>
